body {
    margin-bottom: 80px !important;
}

html {
    position: relative;
    min-height: 100%;
}

div.col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-1 {
  margin-bottom: 80px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60vh;
}

.header {
  border-radius: 0 !important;
  margin-bottom: 0.5rem !important;
}

.g {
  color: orange;
}

.App-logo {
  height: 50px;
  float: left;
  margin-top: 7px;
}

.buttonGroup {
  margin-bottom: 0.5rem !important;
}

.StudentList-item {
  text-transform: capitalize;
  text-align: center !important;
  color: #828282 !important;
  margin-bottom: 0.5rem !important;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: rgb(62,63,57);
}

.footer p {
  color: #828282;
  margin-left: 12rem;
  margin-top: 2rem;
}
