.g {
  color: orange;
}

.App-logo {
  height: 50px;
  animation: App-logo-spin infinite 20s linear;
  float: left;
  margin-right: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(47,48,44);
}

.footer p {
  color: #828282;
}
